<aside class="sidebar">
    <div class="sidebar__logo">
      <img src="/assets/img/logos/ganaderia-horizontal.png" alt="Ganaderia.com" />
    </div>

    <div class="sidebar__brand">
      <span class="sidebar__brand-name">{{ empresaNombre() }}</span>
    </div>

    <nav class="sidebar__nav">
      <a class="sidebar__link" routerLink="/dashboard" routerLinkActive="sidebar__link--active"
        ariaCurrentWhenActive="page" (click)="close.emit()">
        <svg lucideLayoutGrid [size]="18"></svg>
        <span>Resumen general</span>
      </a>
      <a class="sidebar__link" routerLink="/campanias" routerLinkActive="sidebar__link--active"
        ariaCurrentWhenActive="page" (click)="close.emit()">
        <svg lucideMail [size]="18"></svg>
        <span>Campañas</span>
      </a>
      <a class="sidebar__link" href="#" (click)="close.emit(); $event.preventDefault()">
        <svg lucideImage [size]="18"></svg>
        <span>Banners</span>
      </a>
      <a class="sidebar__link" routerLink="/productos" routerLinkActive="sidebar__link--active"
        ariaCurrentWhenActive="page" (click)="close.emit()">
        <svg lucideSyringe [size]="18"></svg>
        <span>Productos</span>
      </a>
      <a class="sidebar__link" href="#" (click)="close.emit(); $event.preventDefault()">
        <svg lucideFileText [size]="18"></svg>
        <span>Artículos</span>
      </a>
      <a class="sidebar__link" href="#" (click)="close.emit(); $event.preventDefault()">
        <svg lucideGlobe [size]="18"></svg>
        <span>Micrositio</span>
      </a>
      <a class="sidebar__link" href="#" (click)="close.emit(); $event.preventDefault()">
        <svg lucideNewspaper [size]="18"></svg>
        <span>Noticias</span>
      </a>
      <a class="sidebar__link" href="#" (click)="close.emit(); $event.preventDefault()">
        <svg lucideCalendar [size]="18"></svg>
        <span>Eventos</span>
      </a>
      <a class="sidebar__link" href="#" (click)="close.emit(); $event.preventDefault()">
        <svg lucideVideo [size]="18"></svg>
        <span>Videos</span>
      </a>
      <a class="sidebar__footer sidebar__link" href="#" (click)="close.emit(); $event.preventDefault()">
        <svg lucideUsers [size]="18"></svg>
        <span>Usuarios registrados</span>
      </a>
    </nav>
  </aside>