/* [ COLORES SITIO ] */
:root{
      /* PORCICULTURA */
      /* --color-sitio: #ab0f08;
      --color-sitio-light: oklch(0.579 0.19 29); */

      /* GANADERIA */
      --color-sitio: #0F261D;
      --color-sitio-light: #133D2B;

      /* AVICULTURA */
      /*--color-sitio: #d7ad52;*/
}